.droolswb-details-wrapper{
    .total-users-wrapper{
        padding: 15px;
        background-color: $totaluser_bg;
        border-bottom: 1px solid $grey_1;
        > ul{
            margin-bottom: 0;
            li{
                &:not(:last-child){
                    padding-right: 50px;
                }
                > div{
                    p{
                        font-weight: bold;
                    }
                    span{
                        font-size: 35px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
    .drools-types-wrapper{
        padding: 30px 15px;
        .drools-types{
            background-color: $slate_1;
            padding: 20px 15px;
            margin-bottom: 20px;
            min-height: 140px;
            display: block;
            h3{
                color: $blue_5;
                margin: 0 0 30px;
                font-size: 20px;
                font-weight: bold;
                /*font-family: $francoisone-regular;*/
            }
            p{
                color: $grey_text;
                margin: 0;
                font-size: 11px;
                font-weight: bold;
            }
        }
    }
}