/*--  Font Veriables  --*/
$roboto                     :   "Roboto";
$roboto_light               :   "Roboto Light";
$roboto_medium              :   "Roboto Medium";

/*--  Color Variables  --*/
$white                      :   #ffffff;
$black                      :   #000000;
$screen_bg                  :   #283C46;
$header_bg                  :   #1a2734;
$totaluser_bg               :   #2e434f;
$subheader_bg               :   #0cb199;
$subheader-h6               :   #51D0C2;
$search_btm                 :   #0cb29a;
$sidebar_bg                 :   #1e2f37;
$grey_bg                    :   #283c45;
$grey                       :   #3b5059;
$grey_1                     :   #354851;
$grey_2                     :   #3C4B52;
$grey_3                     :   #212E34;
$grey_4                     :   #293b43;
$grey_5                     :   #59656b;
$grey_7                     :   #88929A;
$grey_cog                   :   #414B54;
$dark_grey                  :   #384b59;
$light_grey                 :   #49626d;
$blue                       :   #315c7f;
$blue_1                     :   #121D21;
$blue_2                     :   #315b80;
$blue_3                     :   #335B7E;
$light_blue                 :   #4294d9; 
$light_blue_2               :   #598FC0; 
$grey_text                  :   #8b9fa8;
$light_grey_text            :   #b0bbbf;
$tags_color                 :   #596d76;
$slate                      :   #385269;
$slate_2                    :   #325D80;
$slate_3                    :   #475862;
$slate_4                    :   #384C56;
$slate_5                    :   #7D96A4;
$slate_6                    :   #425660;
$green                      :   #5cb024;
$green_1                    :   #24804f;
$orange                     :   #9f6830;
$purple                     :   #651b68;
$custom-check-border        :   #c1c1c1;
$custom-radio-color         :   #2b383e;
$custom-radio-text          :   #526166;